body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(rgba(25, 70, 45, 0.80), rgba(15, 50, 30, 0.95)),
        url("../images/image_profil.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(60, 130, 90, 0.30);
    backdrop-filter: blur(14px);
    padding: 40px;
    border-radius: 15px;
    width: 700px;
    display: flex;
    box-shadow: 0 15px 40px rgba(0,0,0,0.45);
    color: rgba(244,247,245,1);
    gap: 30px;
}

.left {
    flex: 1;
}


.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator {
    width: 2px;
    background: rgba(244,247,245,0.3);
}

h2 {
    margin-top: 0;
    color: rgba(244,247,245,1);
}

.info {
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    border-radius: 14px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

button,
input[type="submit"] {
    margin-top: 15px;
    padding: 14px;
    border-radius: 18px;
    border: none;
    background: rgba(45,110,75,0.9);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover,
input[type="submit"]:hover {
    background: rgba(160,210,170,1);
    transform: scale(1.03);
}

